html{
    background-image:url(images/background.png);
    background-attachment: fixed;
    background-size: 100% 100%;
}
body{
    margin: 0;
}
.header{
    display: block;
    font-size: 39px;
    height: 100px;
}
.pic{
    float: left;
}
.words p{
    margin: 0;
    margin-top: 56px;
    float: left;
    -webkit-text-stroke: 1px black;
        -webkit-text-fill-color: transparent;
}
.words a:link{
    text-decoration: none;
}

.container1{
    width: 600px;
    height: 600px;
}
table{
    font-family: verdana,arial,sans-serif;
    font-size:20px;
    color:#333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
    float: left;
    width: 300px;
    height: 500px;
}
table th {
    background:#b5cfd2 url('cell-blue.jpg');
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}
table td {
    background:#dcddc0 url('cell-grey.jpg');
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}
.container2{
    width: 750px;
    height: 600px;
    float: right;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
}
.container2 form{
    float: right;
    height: 300px;
    width: 250px;
    font-size: 20px;
}
.container2 input{
    height: 50px;
    width: 100px;
    text-align: center;
}